{% extends "index.html" %}
{% block content %}
<div style="padding-left: 0 !important; padding-right: 0 !important; margin: 0 !important; ">
    <form action="{{ url_for('webui.avaliacao_pp')}}" method="post">
        <div>
            <p class="titulo_pagina" style="background-color: Gainsboro;  color: navy; margin-left: 0 !important;
                                        padding: 20 !important; width: 100%; font-size: 160%">
                <span style="margin-left: 110px;"><strong>Selecionar Material</strong></span>
            </p>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="form-group col-xs-6">
                        <label>Selecione o Material
                            <select class="form-control" id="all_materiais" name="all_materiais">
                                {% for m in all_materiais %}
                                <option value="{{ m.catmat_id }}">{{m.catmat_id}} - {{m.descricao[:30]}}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <br>
                        <br>
                        <label for="data_selecionada">Data inicial de preços para validação
                            <br>
                            <input class="form-control" type="date" id="data_selecionada"
                                   name="data_selecionada" min="{{anopassado}}" max="{{ontem}}"
                                   value="{{anopassado}}">
                        </label>
                        <br>
                        <br>
                        <button type="submit" class="button btn-primary" id="avaliar">Avaliar</button>
                        <button type="button" class="button btn-primary" id="go_index">Voltar</button>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group col-xs-6">
                        <label for="descricao">Descrição</label>
                        <br>
                        <textarea id="descricao" name="descricao" rows="4" cols="76" style=" resize: none;  "
                                  disabled>{{material.descricao}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#all_materiais').change(function(){
          $.getJSON('/_selecao_material', {
            material_selecionado: $('#all_materiais').val()
          }).success(function(data) {
                document.getElementById('descricao').textContent= data.descricao
          })
        });

        $('#go_index').bind('click', function() {
             window.history.back();
        });
      });


    </script>
</div>
{% block footer %}
<div style="padding-left: 0 !important; padding-right: 0 !important; margin: -15px !important; width:100% !important; height: auto; ">
    <footer class="footer hidden-xs"
            style="padding-left: 0 !important; padding-right: 0 !important; margin: 0 !important; height: auto ">
        <div style="height: auto; bottom: 0; margin: 0 !important;padding-left: 0 !important; padding-right: 0 !important; ">
            <div
                    style="width: 100%; position: absolute; height: auto; bottom: 0; margin: 0 !important;padding-left: 0 !important; padding-right: 0 !important; ">
                <div class="col-md-12"
                     style="position: absolute; height: auto; bottom: 0; margin: 0 !important;  width: 100% !important;">
                    <div style="position: absolute; height: auto; bottom: 0; margin: 0 !important; width: 100% !important;">
                        <p class="texto text-center" style="background-image: url({{url_for('static', filename='RODAPE_BG.PNG')}}); color: white; margin-left: 0 !important;
                                        width: 100% !important;">
                            Senado Federal - Praça dos Três Poderes - Brasília DF - CEP 70165-900 - Fone: (61)3303-4141
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</div>
{%- endblock footer%}
{% endblock %}

