{% extends "index.html" %}
{% block content %}
<div style="padding-left: 0 !important; padding-right: 0 !important; margin: 0 !important; ">
    <p class="titulo_pagina" style="background-color: Gainsboro;  color: navy; margin-left: 0 !important;
                                        padding: 20 !important; width: 100%; font-size: 160%">
        <span style="margin-left: 110px;"><strong>Avaliação de Pesquisa de Preços</strong></span>
    </p>
</div>
<br>
<div class="container">
    {% set catmat = material.codigo %}
    {% set dataretorno = datainicio[6:10] ~ '-' ~ datainicio[3:5] ~ '-' ~ datainicio[0:2] %}
    Material selecionado = {{material.codigo}} - {{material.descricao}}
    <br><br>
        <div class="form-group">
        <div class="col-xs-3">
            <label for="qtd">Quantidade a ser adquirida</label><br>
            <input class="form-control" type="number" id="qtd" name="qtd" size="20"><br>
        </div>
        <div class="col-xs-3">
            <label for="valor">Valor encontrado na pesquisa</label><br>
            <input class="form-control" type="text" id="valor" name="valor"><br>
        </div>
        <div class="col-xs-3">
            <br>
            <button type="button" class="btn btn-primary btn-lg" id="testa_sobrepreco" name="testa_sobrepreco">Avaliar
            </button>
            <button type="button" class="btn btn-primary btn-lg" id="go_index" name="go_index">Voltar</button>
        </div>
        <br>
        <br>
        <br>
    </div>
    <br>
    Dados avaliados desde de <b>{{datainicio}}</b> &nbsp&nbsp  - &nbsp&nbsp  Número de registros do item = <b>{{numreg}}</b>
    <br><br>
    <b>Valor unitário:</b><br>
    <table id="tbvalor" class="tftable" border="1">
    <tr><th><p style="text-align:center">Mínimo</p></th>
        <th><p style="text-align:center">Máximo</p></th>
        <th><p style="text-align:center">Média</p></th>
        <th><p style="text-align:center">Mediana</p></th>
        <th><p style="text-align:center">Percentil 97,5%</p></th>
    </tr>
    <tr><td><textarea id="mini" name="mini" rows="1" cols="15" style=" resize: none;" disabled>{{min}}</textarea></td>
        <td><textarea id="maxi" name="maxi" rows="1" cols="15" style=" resize: none;" disabled>{{max}}</textarea></td>
        <td><textarea id="mediat" name="mediat" rows="1" cols="15" style=" resize: none;" disabled>{{media}}</textarea></td>
        <td> <textarea id="medianat" name="medianat" rows="1" cols="15" style=" resize: none;" disabled>{{mediana}}</textarea></td>
        <td><textarea id="q975t" name="q975t" rows="1" cols="15" style=" resize: none;" disabled>{{vuq975}}</textarea></td>
    </tr>
    </table>
    <br><br>
    <b>Quantidade:</b><br>
    <table id="tbquantidade" class="tftable" border="1">
    <tr><th><p style="text-align:center">Mínimo</p></th>
        <th><p style="text-align:center">Máximo</p></th>
        <th><p style="text-align:center">Média</p></th>
        <th><p style="text-align:center">Mediana</p></th>
        <th><p style="text-align:center">Percentil 97,5%</p></th>
    </tr>
    <tr><td><textarea id="qmint" name="qmint" rows="1" cols="15" style=" resize: none;" disabled>{{qmin}}</textarea></td>
        <td><textarea id="qmaxt" name="qmaxt" rows="1" cols="15" style=" resize: none;" disabled>{{qmax}}</textarea></td>
        <td><textarea id="qmediat" name="qmediat" rows="1" cols="15" style=" resize: none;" disabled>{{qmedia}}</textarea></td>
        <td> <textarea id="qmedianat" name="qmedianat" rows="1" cols="15" style=" resize: none;" disabled>{{qmediana}}</textarea></td>
        <td><textarea id="qq975t" name="qq975t" rows="1" cols="15" style=" resize: none;" disabled>{{qq975}}</textarea></td>
    </tr>
    </table>
    <br>
    <br>
    <label for="descricao">Resultado da avaliação</label><br>
    <textarea id="descricao" name="descricao" rows="1" cols="76" style=" resize: none;"></textarea>
    <form action = "http://localhost:5000/_precos_avaliados" method = "POST">
        <input type="hidden" id="catmat" name="catmat" value={{material.codigo}} />
        <input type="hidden" id="datainicio" name="datainicio" value={{dataretorno}} />
    <button type="submit" class="btn btn-primary btn-lg" id="licitacoes" name="licitacoes">Preços analisados</button>
    </form>
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#testa_sobrepreco').bind('click', function() {
          document.getElementById('descricao').textContent= 'Calculando ...';
          $.getJSON('/_testa_sobrepreco', {
                        qtd: $('#qtd').val(),
                        valor: $('#valor').val(),
                        catmat: {{catmat}},
                        datainicio: "{{dataretorno}}",
          }).success(function(data) {
            document.getElementById('descricao').textContent= data.predicao;
          })
         return false;
        });

        $('#go_index').bind('click', function() {
             window.history.back();
        });
      });


    </script>
</div>
{% block footer %}
<div style="padding-left: 0 !important; padding-right: 0 !important; margin: -15px !important; width:100% !important; height: auto; ">
    <footer class="footer hidden-xs"
            style="padding-left: 0 !important; padding-right: 0 !important; margin: 0 !important; height: auto ">
        <div style="height: auto; bottom: 0; margin: 0 !important;padding-left: 0 !important; padding-right: 0 !important; ">
            <div
                    style="width: 100%; position: absolute; height: auto; bottom: 0; margin: 0 !important;padding-left: 0 !important; padding-right: 0 !important; ">
                <div class="col-md-12"
                     style="position: absolute; height: auto; bottom: 0; margin: 0 !important;  width: 100% !important;">
                    <div style="position: absolute; height: auto; bottom: 0; margin: 0 !important; width: 100% !important;">
                        <p class="texto text-center" style="background-image: url({{url_for('static', filename='RODAPE_BG.PNG')}}); color: white; margin-left: 0 !important;
                                        width: 100% !important;">
                            Senado Federal - Praça dos Três Poderes - Brasília DF - CEP 70165-900 - Fone: (61)3303-4141
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
{%- endblock footer%}
{% endblock %}

