{% extends "index.html" %}
{% block content %}
<div style="padding-left: 0 !important; padding-right: 0 !important; margin: 0 !important; ">
    <p class="titulo_pagina" style="background-color: Gainsboro;  color: navy; margin-left: 0 !important;
                                        padding: 20 !important; width: 100%; font-size: 160%">
        <span style="margin-left: 110px;"><strong>Avaliação de Pesquisa de Preços</strong></span>
    </p>
</div>
<br>
<div class="container">
    {% set catmat = material.codigo %}
    {% set dataretorno = datainicio[6:10] ~ '-' ~ datainicio[3:5] ~ '-' ~ datainicio[0:2] %}
    Material selecionado = {{material.codigo}} - {{material.descricao}}
    <br><br>
    Dados avaliados desde de {{datainicio}}
    <br><br>
    Valor unitário está entre R$ {{min}} e R$ {{max}} com média= R$ {{media}} e mediana= R$ {{mediana}}
    <br><br>
    Quantidade adquirida está entre {{qmin}} e {{qmax}} com média= {{qmedia}} e mediana= {{qmediana}}
    <br><br>
    Número de registros do item = {{numreg}}
    <br>
    <br>
    <div class="form-group">
        <div class="col-xs-3">
            <label for="qtd">Quantidade a ser adquirida</label><br>
            <input class="form-control" type="number" id="qtd" name="qtd" size="20"><br>
        </div>
        <div class="col-xs-3">
            <label for="valor">Valor encontrado na pesquisa</label><br>
            <input class="form-control" type="text" id="valor" name="valor"><br>
        </div>
        <div class="col-xs-3">
            <br>
            <button type="button" class="btn btn-primary btn-lg" id="testa_sobrepreco" name="testa_sobrepreco">Avaliar
            </button>
            <button type="button" class="btn btn-primary btn-lg" id="go_index" name="go_index">Voltar</button>
        </div>
        <br>
        <br>
        <br>
    </div>
    <br>
    <label for="descricao">Resultado da avaliação</label><br>
    <textarea id="descricao" name="descricao" rows="1" cols="76" style=" resize: none;"></textarea>
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#testa_sobrepreco').bind('click', function() {
          document.getElementById('descricao').textContent= 'Calculando ...';
          $.getJSON('/_testa_sobrepreco', {
                        qtd: $('#qtd').val(),
                        valor: $('#valor').val(),
                        catmat: {{catmat}},
                        datainicio: "{{dataretorno}}",
          }).success(function(data) {
            document.getElementById('descricao').textContent= data.predicao;
          })
         return false;
        });

        $('#go_index').bind('click', function() {
             window.history.back();
        });
      });


    </script>
</div>
{% block footer %}
<div style="padding-left: 0 !important; padding-right: 0 !important; margin: -15px !important; width:100% !important; height: auto; ">
    <footer class="footer hidden-xs"
            style="padding-left: 0 !important; padding-right: 0 !important; margin: 0 !important; height: auto ">
        <div style="height: auto; bottom: 0; margin: 0 !important;padding-left: 0 !important; padding-right: 0 !important; ">
            <div
                    style="width: 100%; position: absolute; height: auto; bottom: 0; margin: 0 !important;padding-left: 0 !important; padding-right: 0 !important; ">
                <div class="col-md-12"
                     style="position: absolute; height: auto; bottom: 0; margin: 0 !important;  width: 100% !important;">
                    <div style="position: absolute; height: auto; bottom: 0; margin: 0 !important; width: 100% !important;">
                        <p class="texto text-center" style="background-image: url({{url_for('static', filename='RODAPE_BG.PNG')}}); color: white; margin-left: 0 !important;
                                        width: 100% !important;">
                            Senado Federal - Praça dos Três Poderes - Brasília DF - CEP 70165-900 - Fone: (61)3303-4141
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
{%- endblock footer%}
{% endblock %}

