{% extends "index.html" %}

{% block content %}

<div class="container">
    <h1>Baixar jsons de Licitações</h1>
<br>
        <div class="row">
        <div class="form-group col-xs-6">
          <label for="select-ano">Selecione o período</label>
          <select class="form-control" id="select-ano">
                <option value="1">2022</option>
                <option value="2">2023</option>
                <option value="3">Últimos 3 meses</option>
          </select>
        </div>
      </div>
          <br>
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="all_modelos">Selecione o Modelo</label>
          <select class="form-control" id="all_modelos">
            {% for o in all_modelos %}
                    <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
          <br>
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="all_periodos">Selecione o período</label>
          <select class="form-control" id="all_periodos">
            {% for o in all_periodos %}
                    <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="process_baixa_licitacao">Baixar json</button>
        <button type="button" id="go_index">Fechar</button>
      </div>
      <br>

      <br>
</div>
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

        $('#all_modelos').change(function(){

          $.getJSON('/_update_dropdown_licitacao', {
            selected_class: $('#all_modelos').val()

          }).success(function(data) {
                $('#all_periodos').html(data.html_string_selected);
           })
        });
        $('#go_index').bind('click', function() {
             window.location.replace("/");
        });
        $('#process_baixa_licitacao').bind('click', function() {
            $.getJSON('/_process_data_licitacao', {
                selected_class: $('#all_modelos').val(),
                selected_entry: $('#all_periodos').val(),
           }).success(function(data) {

            })

          return false;

        });
      });

      $.ajax({
            type: "POST",
            url: "~/pythoncode.py",
            data: { param: text}
      }).done(function( o ) {
                window.location.replace("/");
      });
    </script>

{% block footer %}
<footer class="footer hidden-xs">
    <div class="container-fluid" style="position: absolute; height: 2.4rem; width: 100%; bottom: 0" >
        <div class="row">
           <div class="col-md-12">
             <p class="texto text-center" style="background-image: url({{url_for('static', filename='RODAPE_BG.PNG')}}); color: white; "  >Senado Federal - Praça dos Três Poderes - Brasília DF - CEP 70165-900 - Fone: (61)3303-4141</p>
           </div>
        </div>
    </div>
</footer>
{% endblock %}
{% endblock %}