{% extends "index.html" %}

{% block content %}
                {% set paginasbaixadas = "teste" %}
<div class="container">
    <h1>Baixar jsons</h1>
<br>
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="all_classes">Selecione o Módulo</label>
          <select class="form-control" id="all_classes">
            {% for o in all_classes %}
                    <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
          <br>
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="all_entries">Selecione a entidade</label>
          <select class="form-control" id="all_entries">
            {% for o in all_entries %}
                    <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="process_input">Baixar json</button>
        <button type="button" id="go_index">Fechar</button>
      </div>
      <br>
      {{paginasbaixadas}}

      <br>
</div>
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

        $('#all_classes').change(function(){

          $.getJSON('/_update_dropdown', {
            selected_class: $('#all_classes').val()

          }).success(function(data) {
                $('#all_entries').html(data.html_string_selected);
           })
        });
        $('#go_index').bind('click', function() {
             window.location.replace("/");
        });
        $('#process_input').bind('click', function() {
                {% set paginasbaixadas = "Alterei" %}
            $.getJSON('/_process_data', {
                selected_class: $('#all_classes').val(),
                selected_entry: $('#all_entries').val(),



            }).success(function(data) {
                {% set paginasbaixadas = "Alterei" %}
            })

          return false;

        });
      });

      $.ajax({
            type: "POST",
            url: "~/pythoncode.py",
            data: { param: text}
      }).done(function( o ) {
                window.location.replace("/");
      });
    </script>

{% block footer %}
<footer class="footer hidden-xs">
    <div class="container-fluid" style="position: absolute; height: 2.4rem; width: 100%; bottom: 0" >
        <div class="row">
           <div class="col-md-12">
             <p class="texto text-center" style="background-image: url({{url_for('static', filename='RODAPE_BG.PNG')}}); color: white; "  >Senado Federal - Praça dos Três Poderes - Brasília DF - CEP 70165-900 - Fone: (61)3303-4141</p>
           </div>
        </div>
    </div>
</footer>
{% endblock %}
{% endblock %}